@component('components/layout', { title: 'Accueil' })
  <h2>
    Créer un nouveau deck
  </h2>
  <style>
    h2 {
      text-align: center;
      margin: 20px 0;
      color: white;
    }
  </style>
@endcomponent
