:root {
  --primary-color: #4f5ea2;
  --secondary-color: #425cccff;
  --tird-color: #6e79a8;
  --fourth-color: #3f414d;
  --fifth-color: #292b33;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 0;
  top: 0px;
  position: relative;
}

nav {
  color: white;
  background-color: var(--primary-color);
  padding: 10px 0;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 0;
  width: 100%;
}
