<footer>
  <style>
    footer {
      position: fixed;
      bottom: 0;
      background-color: dimgray;
      color: white;
      padding: 10px 0;
      width: 100%;
    }
    
    p {
      text-align: center;
    }
  </style>
  <p>
    Made with struggle by Jonathan Junod
  </p>
</footer>
