<header>
  <style>
    a {
      color: white;
    }
  </style>
  <h1>
    Flashcards
  </h1>
  <nav>
    <a href="{{ route('home') }}">Accueil</a>
    <a href="{{ route('cards_home') }}">Cartes</a>
  </nav>
</header>
